<div class="logo">
    <img src="/WLMxWhatsapp/WLMxWSP WebPage/assets/icons/logo.png" alt="logo">
    <h1>Windows Live Messenger &nbsp;x&nbsp; Whatsapp</h1>
</div>
<div class="menu">
    <ul>
        <li><a href="/WLMxWhatsapp/index.html">Inicio</a></li>
        <li><a href="/WLMxWhatsapp/WLMxWSP WebPage/page/download.html">Descargar</a></li>
        <li><a href="/WLMxWhatsapp/WLMxWSP WebPage/page/support.html">Soporte</a></li>
        <li><a href="https://www.paypal.com/donate/?hosted_button_id=DHSW5ZHDCFXNY" target="_blank">Donar</a></li>
    </ul>
</div>
<div id="google_translate_element" style="display: none;"></div>